[Unit]
Description=anybar
DefaultDependencies=no
After=systemd-networkd-wait-online.service

[Service]
Environment="DISPLAY=:0"
ExecStart=/bin/sh /home/%u/share/bin/upportstatus.sh vps.tyjak.net 22940
Type=oneshot

[Install]
WantedBy=network-online.target

# see https://systemd.io/NETWORK_ONLINE/
