[Unit]
Description=anybar

[Service]
Environment="DISPLAY=:0"
ExecStart=/bin/sh /home/%u/share/bin/uppingstatus.sh 63.250.56.118
Type=oneshot
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=default.target
