[Unit]
Description=Run my backup

[Timer]
OnUnitActiveSec=1w
#Persistent to remembar last activation and lauchn if missed one trigger
Persistent=true

[Install]
WantedBy=timers.target
