[Unit]
Description=r0
Requires=network-online.target
After=network-online.target

[Service]
Environment="DISPLAY=:0"
ExecStart=/bin/sh /home/%u/share/bin/R0status.sh
Type=oneshot

[Install]
WantedBy=default.target
