[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.history
.vimperator/info/default

.config/*
!.config/applications
!.config/color
!.config/dunst
!.config/dwb/keys
!.config/dwb/mimetypes
!.config/dwb/searchengines
!.config/dwb/settings
!.config/git
!.config/gtk*
!.config/htop
!.config/i3
!.config/mpd/mpd.conf
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsbeuter/config
!.config/newsbeuter/solarized-dark
!.config/newsbeuter/urls
!.config/picom
!.config/rtv/rtv.cfg
!.config/systemd
.config/systemd/**/*.wants
!.config/termite
!.config/tig
!.config/todo
!.config/vifm/colors/solarized-dark.vifm
!.config/vifm/vifmrc
!.config/vimperator/colorscheme
!.config/vimperator/vimperatorrc
!.config/vimperator/vimperatorrc.local
!.config/wallpaper
!.config/vimb/scripts.js
!.config/vimb/config
!.config/vimb/style.css
!.config/vimb/standalone
!.config/zathura/zathurarc
!.config/kitty
