[[ -L ~/.Xresources ]] && xrdb -merge ~/.Xresources
[[ -L ~/.Xmodmap ]] && xmodmap ~/.Xmodmap
[[ -f /usr/bin/feh && -L ~/.fehbg ]] && sh ~/.fehbg

export EDITOR=/usr/bin/vim
export PATH=~/share/bin/i3:~/share/bin:~/.local/bin:/usr/bin:/usr/local/bin:$PATH
export PYTHONPATH=/usr/lib/python3.3/site-packages
export BROWSER=/usr/bin/vimb
export TERMINAL=/usr/bin/termite
export DMENUHEIGHT=24
export KUNST_ICONSIZE=200
[[ -f /usr/bin/fd ]] && export FZF_DEFAULT_COMMAND='/usr/bin/fd --type f'
setxkbmap fr

syndaemon -t -k -i 2 &
eval $(ssh-agent)
unclutter &
