/* Hint mode color styling */
html {
    color: unset;
    background-color: #fdf6e3;
}
/*  @media (prefers-color-scheme: dark) {
    background-color: #002b36;
    color: #839495;
} */
span[vimbhint^='label'] {
    background-color: #859900 !important;
    border: 1px solid #fdf6e3 !important;
    color: #fdf6e3 !important;
    font: bold 9pt monospace !important;
    opacity: .9 !important;
    padding: .1em .4em !important;
    text-transform: lowercase !important;
}
span[vimbhint='label focus'] {
    font: bold 9pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #eee8d5 !important;
    color: #2d2d2d !important;
}
*[vimbhint='hint focus'] {
    background-color: #d33682 !important;
    color: #fdf6e3 !important;
}

::selection {
  background-color: #d33682;
  color: #fdf6e3;
}

textarea, input {
  color: #fdf6e3;
}
