._hintLabel {
    -webkit-transform:translate(-4px,-4px);
    position: absolute;
    z-index: 100000;
    font:bold .8em monospace;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0px 1px;
    border: 1px solid #444;
    border-radius: 3px;
    opacity: 0.7;
    -webkit-box-shadow: 1px 1px 3px #444;
}
._hintElem {
    background-color: #eee8d5 !important;
    color: #268bd2 !important
}
._hintElem._hintFocus{
    background-color: #859900 !important;
    color: #eee8d5 !important;
}
._hintLabel._hintFocus{
    z-index: 100001;
    opacity: 1
}
