._hintLabel {
    -webkit-transform:translate(-4px,-4px) !important;
    position: absolute !important;
    z-index: 100000 !important;
    font:bold .8em monospace !important;
    color: #000 !important;
    background-color: #fff !important;
    margin: 0 !important;
    padding: 0px 1px !important;
    border: 1px solid #444 !important;
    border-radius: 3px !important;
    opacity: 0.7 !important;
    -webkit-box-shadow: 1px 1px 3px #444 !important;
}
._hintElem {
    background-color: #eee8d5 !important;
    color: #268bd2 !important
}
._hintElem._hintFocus{
    background-color: #859900 !important;
    color: #eee8d5 !important;
}
._hintLabel._hintFocus{
    z-index: 100001 !important;
    opacity: 1 !important;
}
